{% assign devPath = "site/_graphs"| append: path %}
{% assign distPath = "assets/img/graphs" | append: path %}

{% if devPath | fileExists %}
    <div class="graph-container">
        <h3>{{ title }}</h3>
        <figure>
            <img src="{{ distPath }}" />
        </figure>
    </div>
{% endif %}