# Files ignored because they're binary/unnecessary
.DS_STORE
app/node_modules
app/dist
app/.env
app/site/img/*
app/site/_includes/css
app/site/_includes/js
!app/site/img/.keep
.vscode/
scripts/metricsLib/__pycache__
# Files/Dirs ignored because they're secret/internal only
id_rsa
secrets_repo/
internal_only_repo/

.venv
__pycache__
scripts/__pycache__
*.pyc
