---
layout: base
---
<div class="grid-container">
  <p>The Centers for Medicare and Medicaid Services is comprised of many GitHub Organizations.</p>
  <ul class="usa-card-group">
    {% for org in organizations %}
      <li class="usa-card usa-card--flag desktop:grid-col-6">
        <div class="usa-card__container">
          <div class="usa-card__header">
            <h2 class="usa-card__heading">
              <a href="{{ site.baseurl }}/{{ org.name }}/" class="text-no-underline">{{ org.name }}</a>
            </h2>
          </div>
          <div class="usa-card__media" style="display: flex; justify-content: center;">
            <div class="usa-card__img" style="background-color: white; padding: 10px 0;">
              <img
                src="{{org.avatar_url}}"
                alt="Organization Avatar"
              >
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>