---
layout: base
---
<script type="module" src="{{ "/assets/js/projects.js" | url }}"></script>
<div class="grid-container">
  <p>
    The Centers for Medicare and Medicaid Services develops and supports many open-source projects found in our various
    GitHub Organizations.
  </p>

  <div class="margin-bottom-2">
    <label class="usa-label" for="filter-input">Search</label>
    <div class="usa-input-group width-full maxw-none">
      <div class="usa-input-prefix" aria-hidden="true">
        <svg aria-hidden="true" role="img" focusable="false" class="usa-icon">
          <use xlink:href={{  "/assets/img/sprite.svg#search"| url }} ></use>
        </svg>
      </div>
      <input class="usa-input--lg" id="filter-input" name="filter-input">
    </div>
  </div>

  {% for org in organizations %}
    <div class="project_section">
      <div class="report_heading">
        <h2>
          {{ org.name }}
          <img
            src="{{org.avatar_url}}"
            alt="Organization Avatar"
            width="20"
          >
        </h2>
      </div>

      <ul class="usa-card-group flex-align-stretch">
        {% assign orgProjects = projects | findProjectsInOrg: org.name %}
        {% render "project-card" for orgProjects as repo %}
      </ul>
    </div>
  {% endfor %}
</div>
