.homepage {
    position: absolute;
}
.outerBox {
    position: absolute;
    background:rgba(113, 156, 237, 0.94);
    width: 100%;
    left: 500px;
    top: 100px;
    margin: 0 auto;
    text-align: center;
}
.overlay {
    z-index: 9;
    margin: 300px;
    background-color:rgb(193, 190, 190);
    width: 50%;
    height: 50%; 
}
.box-description {
    position: absolute;
    top: 350px;
    left: 450px;
    width: 50%;
}
.description {
    text-align: center;
}

