<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% include 'metadata.liquid' %}
    {% include 'assets.liquid' %}
  </head>
  <body>
    <header>
      {% include 'banner.liquid' %}
      {% include 'nav.liquid' %}
    </header>
    <main>
      {{ content | raw }}
    </main>
    <footer>
      {% include 'footer.liquid' %}
    </footer>
  </body>
  <!-- <script type="module" src="{{ "/src/js/nav.js" | url}}"></script> -->
</html>
