---
layout: base
---
<div class="grid-container">
  <h1>Report for
    <a target="_blank" href="https://github.com/{{ org }}">{{ org }}</a>
  </h1>
  {% comment %} TODO: Add GitHub Stats here {% endcomment %}
  <div class="post">
    {{ content | raw }}
  </div>
</div>