@import "@uswds/uswds/dist/css/uswds.css";

.title {
  display: flex;
  align-items: baseline;
}
.logo {
  width: 120px;
  /* height: 40px; */
  margin-right: 10px;
}
.github-information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* This is so that augur visualizations have the buttons cropped out. */
.firstResponsePRCrop img {
  width: 900px;
  height: 550px;
  object-fit: cover;
}

.main-tag {
  background-color: #1a4480;
  padding: 0.5rem;
  font-weight: bolder;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem; /* Adjust the gap as needed */
  border-radius: 0.25rem;
}

.tools-tag {
  background-color: green;
}

.apis-tag {
  background-color: #E52109;
}

.apps-tag {
  background-color: #0076D6;
}

.data-tag {
  background-color: #E66F0F;
}

.docs-tag {
  background-color: #03C585;
}

.libraries-tag {
  background-color: #D72D79;
}

.standards-tag {
  background-color: #FFBE2F;
}

.icon-tag {
  padding: 0.35rem;
}

.primary-tag-group {
  /* padding-top-1 */
  padding-top: 0.5rem;
}

.secondary-tag-group {
  /* padding-y-3 */
  padding-top:1.5rem;
  padding-bottom:1.5rem;
}

.projects-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.block {
  display: block;
  width: 100%;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* padding-top: 5rem; */
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3.4rem;
}

.search-container {
  flex:1;
  margin-bottom: 1rem;
  box-sizing: border-box; 
}

.search-and-sort {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.sort-dropdown {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: right;
  gap: 0.5rem;
  margin-bottom: 1rem;

}

@media screen and (max-width: 1080px) {
  .dashboard-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 720px) {
  .search-and-sort {
    flex-direction: column;
    gap: 0;
  }

  .search-container {
    margin-bottom: 0;
  }

  .sort-dropdown {
    text-align: left;
  }
}