@import "@uswds/uswds/dist/css/uswds.css";

.github-information {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* This is so that augur visualizations have the buttons cropped out. */
.firstResponsePRCrop img {
  width: 900px;
  height: 550px;
  object-fit: cover;
}
