/* ROOT VARIABLES */
:root {
    /* Colors */
    --primary-dark-color: #043884;
    --primary-medium-color: #5C85C1;
    --primary-light-color: #E0EAF8;
    --primary-accent-color: #E7C000;
    --secondary-accent-color: #ECDD90;
    --default-white: #FFF;
    --default-black: #000;
    --default-dark-gray: #494949;
    --default-light-gray: #BCBCBC;

    /* Spacing */
    --space-neg-sm: -5px;
    --space-xsm: 5%;
    --space-sm: 6%;
    --space-md: 10%;
    --space-lg: 15%;

    /* Sizes */
    --size-card-sm: 15vh;
    --size-card-lg: 20vh;
    --size-icon-sm: 75px;
    --size-icon-md: 90px;
    --size-card-lg: 100px;

    /* Borders */
    --radius-full: 100px;
    --radius-lg: 50px;
    --radius-md: 30px;
    --radius-sm: 25px;
  
    /* Shadows & Effects */
    --default-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }